// ---------- Pico.css customization --------------------------------------------------

$primary-500: #4caf50;
$primary-600: #43a047;
$primary-700: #388e3c;



// ---------- Pico.css modules --------------------------------------------------

// Config
@import "variables";

// Theming
@import "themes/default";

// Layout
@import "layout/document";               // html
@import "layout/sectioning";             // body, header, main, footer
@import "layout/container";              // .container, .container-fluid
@import "layout/section";                // section
@import "layout/grid";                   // .grid
@import "layout/scroller";               // figure

// Content
@import "content/typography";            // a, headings, p, ul, blockquote, ...
@import "content/embedded";              // audio, canvas, iframe, img, svg, video
@import "content/button";                // button, a[role=button], type=button, type=submit ...
@import "content/form";                  // input, select, textarea, label, fieldset, legend
@import "content/form-checkbox-radio";   // type=checkbox, type=radio, role=switch
@import "content/form-alt-input-types";  // type=color, type=date, type=file, type=search, ...
@import "content/table";                 // table, tr, td, ...
//@import "content/code";                  // pre, code, ...
@import "content/miscs";                 // hr, template, [hidden], dialog, canvas

// Components
@import "components/accordion";          // details, summary
@import "components/card";               // article
@import "components/nav";                // nav
@import "components/progress";           // progress

// Utilities
@import "utilities/loading";             // aria-busy=true
@import "utilities/tooltip";             // data-tooltip
@import "utilities/accessibility";       // -ms-touch-action, aria-*
@import "utilities/reduce-motion";       // prefers-reduced-motion





// ---------- Custom styles --------------------------------------------------

html {
  scroll-padding-top: calc(var(--spacing) * 6);
  scroll-behavior: smooth;
}

iframe {
  margin-bottom: var(--typography-spacing-vertical);
}


// Menu
body > nav:first-of-type {
  position: sticky;
  top: 0;
  padding: 0;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--table-border-color);
  z-index: 100;

  ul {
    &:first-of-type {
      margin: 0;
    }

    margin: var(--spacing);
    gap: var(--spacing);

    li {
      padding: 0;
    }
  }
}

// Hero header
.hero {
  --bg-gradient: linear-gradient(0deg, black 0%, rgba(0,0,0,0.75) 33%, transparent 80%);
  background-color: var(--card-background-color);
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  padding: calc(var(--block-spacing-vertical)*4) 0 var(--spacing);

  hgroup > p {
    color: var(--muted-color);
    margin-bottom: 0;
  }
}



// Footer
body > footer {
  border-top: 1px solid var(--muted-color);
  padding-bottom: var(--spacing);

  > div {
    grid-column-gap: var(--grid-spacing-horizontal);
    grid-row-gap: var(--grid-spacing-vertical);
    display: grid;
    grid-template-columns: 1fr;

    @if map-get($breakpoints, "lg") {
      @media (min-width: map-get($breakpoints, "lg")) {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
      }
    }

    h5 {
      margin-bottom: calc(var(--typography-spacing-vertical) / 4);
    }
  }
}

// Utilities

.float-left {
  float: left;
  max-width: 30%;
  margin-right: calc(var(--spacing) * 2);
}

.float-right {
  float: right;
  max-width: 30%;
  margin-left: calc(var(--spacing) * 2);
}

h1, h2, h3, h4, h5 {
  clear:both;
}

body section > h2 {
  border-bottom: 1px solid var(--muted-color);
  margin-top: calc(var(--block-spacing-vertical) * 3);
}

.center {
  text-align: center;
}

small {
  color: var(--muted-color);
}

figure {
  text-align: center;
}

.grid > img {
  display: block;
  margin: var(--spacing) auto;
}

.clear {
  clear: both;
}