<article id="contact" data-theme="dark" itemscope="itemscope" itemtype="https://schema.org/LocalBusiness">
  <header>
    <a class="logo" href="{{site.home}}" aria-label="Accueil">
      <img itemprop="image" src="{{site.logo}}" alt="Logo d'{{site.title}}"/>
    </a>
    <hgroup>
      <h2 class="title" itemprop="name">
        <a href="{{site.home}}" aria-label="Accueil">{{site.title}}</a>
      </h2>
      <p class="subtitle from-tablet">{{site.subtitle}}</p>
    </hgroup>
  </header>
  <p itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
    <span itemprop="streetAddress">{{contact.address}}</span><br/>
    <span itemprop="postalCode">{{contact.postal_code}}</span>
    <span itemprop="addressLocality">{{contact.city}}</span><br/>
  </p>
  <p>
    <a href="tel:{{contact.phone}}" itemprop="telephone">{{contact.phone}}</a ><br/>
    <a href="mailto:{{contact.email}}" itemprop="email">{{contact.email}}</a ><br/>
  </p>
  <p>
    <a href="{{contact.website}}" itemprop="url">{{contact.website}}</a>
  </p>
  <footer>
    <p>
      Découvrez aussi
      <a href="https://www.espacevital.fr">Espace Vital</a>, nos formations professionnelles de prévention et bien-être.
    </p>
  </footer>

</article>