<footer data-theme="dark">
  {% include "_contact-card.html" %}

  <div id="sitemap">
    {% for entry in menu %}
      <div>
        <h6>
          <a href="{{entry.url}}">{{entry.label}}</a>
        </h6>
        {% if entry.anchors %}
          <ul>
            {% for anchor_label, anchor_url in entry.anchors %}
              <li>
                <a href="{{entry.url}}#{{anchor_url}}">{{anchor_label}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
    <a id="private-space" role="button" class="outline" href="{{ private_space.url }}">{{ private_space.label }}</a>
  </div>
</footer>