<!doctype html>
<html lang="fr" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} &bull; Chấn Điện Võ Đường</title>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li><a href="/" aria-label="Accueil"><img src="/images/logo.png" alt="Logo de l'école Chấn Điện Võ Đường"></a></li>
      <li>
        <h4>Chấn Điện Võ Đường</h4>
        <small>&Eacute;cole traditionnelle d'arts martiaux vietnamiens</small>
      </li>
    </ul>
    <ul>
      <li><a href="/notre-ecole">Notre école</a></li>
      <li><a href="/informations-pratiques">Horaires &amp; lieux</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <main class="container">
    {% if hero %}
    <header class="hero">
      <figure>
        <img src="{{hero}}" alt="">
      </figure>
      <h1>{{title}}</h1>
    </header>
    {% else %}
    <header>
      <h1>{{title}}</h1>
    </header>

    {% endif %}
    
    {% if nav %}
    <aside>
      <nav>
        <ul>
          {% for title,link in nav %}
          <li><a href="{{link}}">{{title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    {% endif %}

    <article>
      {{content | safe}}
    </article>
  </main>

  <footer>
    <div class="container">
      <div>
        <p><a href="/" aria-label="Accueil"><img src="/images/logo.png" alt="Logo de l'école Chấn Điện Võ Đường"></a></p>
        <hgroup>
          <h5><a href="/">Chấn Điện Võ Đường</a></h5>
          <small>&Eacute;cole traditionnelle d'arts martiaux vietnamiens</small>
        </hgroup>
        <p><a href="/contact">Contact</a></p>
        <p><a href="/pro">Montpellier Viet Vo Dao Pro</a></p>
      </div>

      <div>
        <h6><a href="/notre-ecole">Notre école</a></h6>
        <ul>
          <li><a href="/nos-racines">Nos racines</a></li>
          <li><a href="/notre-pratique">Notre pratique</a></li>
        </ul>
      </div>

      <div>
        <h6><a href="/informations-pratiques">Informations pratiques</a></h6>
        <ul>
          <li><a href="/informations-pratiques#horaires">Horaires</a></li>
          <li><a href="/informations-pratiques#lieux">Lieux</a></li>
          <li><a href="/informations-pratiques#tarifs">Tarifs</a></li>
          <li><a href="/informations-pratiques#stages">Stages</a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>